<%- include('../include/auth-head', { pageTitle: pageTitle }); -%>

<div class="container h-100">
    <div class="row justify-content-center align-items-center h-100">
        <div class="card card-container">
            <i class="fas fa-user-circle profile-img-card"></i>
            <p id="profile-name" class="profile-name-card">
                <%= pageTitle %>
            </p>
            <% if (isError){ %>
                <div class="error-msg-container">
                    <p class="error-msg">
                        <%= isError %>
                    </p>
                </div>
            <% } %>
            <form class="form-signin" id="signin-form" action="<%= formPath %>" method="POST">
                <input type="email" id="inputEmail" name='email' class="form-control" placeholder="Email address" required autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Reset Password</button>
            </form>
            <a href="<%= loginLink %>" class="forgot-password">
                Go back to login
            </a>
        </div>
    </div>
</div>

<%- include('../include/auth-footer'); -%>