<%-include('../include/admin-header',{pageTitle:pageTitle,adminEmail:adminEmail})-%>
<div class="content-wrapper" style="padding-left: 180px;">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
<center>
  
  <h1 class="my-2">Companies list</h1></center>
<center>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <% if(companies.length!=0){companies.forEach(company=>{%>
    <tbody>
    
        <tr>
 
            <td><%=company.name%></td>
            <td><%=company.email%></td>
            <td><%=company.phone%></td>
         <td><a href="/pendingCompaniesview/<%=company._id%>"><i class="fa fa-eye" aria-hidden="true"></i></a>
            <a href="/pendingCompanies/accept/<%=company._id%>"><i class="fa fa-check" aria-hidden="true"></i></a>
            <a href="/pendingCompanies/delete/<%=company._id%>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </td>
          </tr>
    </tbody>
    <%});}else{%>
  <center><h4>no records found</h4></center>
        <%}%>
        
  </table>

</center>
</div>
      </div>
  </div>
</div>

<%-include('../include/admin-footer')-%>