<%- include('../include/company-header',{pageTitle:pageTitle,compEmail : compEmail});-%>
<div class="content-wrapper">
<div class="container-fluid">
    <div class="row">
  
    <!-- Icon Cards-->
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 rideone">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Total Students</h4>
                  <h2><%=studentCount%></h2>
              </div>
            </div>
          </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridetwo">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Upcoming Jobs</h4>
                  <h2><%=upcomingJobCount%></h2>
              </div>
            </div>
          </div>
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 mb-2 mt-4">
          <div class="inforide">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-4 col-4 ridethree">
                  <img src="https://vignette.wikia.nocookie.net/nationstates/images/2/29/WS_Logo.png/revision/latest?cb=20080507063620">
              </div>
              <div class="col-lg-9 col-md-8 col-sm-8 col-8 fontsty">
                  <h4>Total Jobs</h4>
                  <h2><%=jobCount%></h2>
              </div>
            </div>
          </div>
      </div>
  
  </div>
  </div>
  <div class="container-fluid">
    <div class="row tableDiv">
      <div class="col-6">
      <div class="card text-center" style="width: 28rem;">
        <div class="card-body">
          <table class="table">
            <thead class="table-danger"><th colspan="2">Upcoming Jobs</th></thead>
            <tr class="table-primary">
              <th>Job Title</th>
              <th>Date</th>
            </tr>
            <% for (const job of upcomingJobs) { %>
              <tr class="table-success">
                <td class="texr-center"><%= job.title%></td>
                <td class="text-center"><%= job.interviewDate%></td>
              </tr>
            <% } %>
          </table>
          <a href="/companyReports" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center" style="width: 28rem;">
        <div class="card-body">
          <table class="table">
            <thead class="table-danger"><th colspan="2">Enrolled Students</th></thead>
            <tr class="table-primary">
              <th>Student Name</th>
              <th>Job Title</th>
            </tr>
            <% for (const data of enroll) { %>
              <% if(data.jobID.companyId !== compId) {%>
              <tr class="table-success">
                <td class="texr-center"><%=data.studentID.name%></td>
                <td class="texr-center"><%=data.jobID.title%></td>
              <% } %>
              </tr>
            <% } %>
          </table>
          <a href="/companyReports" class="btn btn-primary">View more</a>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<%- include('../include/company-footer'); -%>