<%- include('../include/student-header',{studentName:studentName,pageTitle:pageTitle});-%>
<div class="content-wrapper" style="padding-left: 100px;">
    <div class="container-fluid" style="padding-left: 200px;">
      <div class=row>
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                  Details of job
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%=jobInfo.title%></h5>
                  <p class="card-text"><%=jobInfo.description%></p>
                  <p class="card-text"><%=jobInfo.type%></p>
                  <p class="card-text"><%=jobInfo.salary%></p>
                  <p class="card-text"><%=jobInfo.experience%></p>
                  <p class="card-text"><%=jobInfo.postedOn%></p>
                  <p class="card-text"><%=jobInfo.applyBy%></p>
                  <p class="card-text"><%=jobInfo.interviewDate%></p>

                  <% if(jobInfo.applyBy > new Date()) { %>
                    <a href="/jobDetails/Enroll:<%=jobInfo._id%>" class="btn btn-primary btn-lg">Enroll</a>
                    <% }else{%>
                    <p style="color: red; font-weight: bold;">Enrollment date is over</p>
                    <%}%>
                </div>
                <div class="card-footer text-muted">
                </div>
              </div>
        </div>
    </div>
</div>
</div>
        
<%-include('../include/student-footer')-%>